{% extends 'Landlord/Header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="tab">
            <h1 align="center">MANAGE LAND</h1>
            <table border="5" align="center" cellpadding="100" table style="width:70%">
                <tr>
                    <td>Area</td>
                    <td><input type="text" name="txt_area" placeholder="Area In Squarefeet" required><br><span
                        class="note">[Note 1: Mention Area in Squarefeet]</span>
                    <br><span class="note"></span></td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td>
                        <input type="file" id="img" name="image" placeholder="Land Image" required>
                    </td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td><input type="text" name="txt_rate" placeholder="Property Rate" required></td>
                </tr>
                <tr>
                    <td>District</td>
                    <td><select name="District" type="text" id="district">
                            <option>--Select--</option>
                            {% for i in distric %}
                            <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                        </select></td>
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td><input type="text" name="txt_pincode" placeholder="Postal Code" required></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" name="txt_location" placeholder="Location of the Proprty" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="btn_submit" value="Add now"></td>
                </tr>
            </table>
        </div>
    </form>
    <div id="tab">
        <br>
        <br>
        <table border="5" align="center" cellpadding="100" table style="width:70%">
            <tr>
                <th>Area</th>
                <th>Image</th>
                <th>Rate</th>
                <th>District</th>
                <th>Pincode </th>
                <th>Location</th>
                <th>Land Facilities</th>
                <th>Land Gallery</th>


            </tr>
            {% for x in landid %}
            <tr>
                <td>{{x.Area}}</td>
                <td><img src="{{x.Photo.url}}" alt="" height="100" width="100"></td>
                <td>{{x.Rate}}</td>
                <td>{{x.district}}</td>
                <td>{{x.Pincode}}</td>
                <td>{{x.Location}}</td>
                <td><a href="{% url 'Landlord:landfacililities' x.id %}">ADD Land Facilities</a></td>
                <td><a href="{% url 'Landlord:landgalry' x.id %}">ADD Land Gallery</a></td>
            </tr>

            {% endfor %}
        </table>
    </div>

</body>
{% endblock %}

</html>