
{% extends 'User/Header.html' %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
        <ul>
            <li><a href="{% url 'User:View-userProfile' %}">View Profile</a></li>
            <li><a href="{% url 'User:searchconst' %}">Search Constructors</a></li>
            <li><a href="{% url 'User:searchtype' %}">Search Previous Worker</a></li>
            <li> <a href="{% url 'User:searchworker' %}">Search Worker</a></li>
            <li> <a href="{% url 'User:searchland' %}">Search Land</a></li>
            <li> <a href="{% url 'User:viewbookland' %}">ViewBooked Land</a></li>
            <li> <a href="{% url 'User:viewworkestatus' %}">Constructour Booking</a></li>
            <li> <a href="{% url 'User:viewworkestatus' %}">Worker Booking</a></li>
            <li> <a href="{% url 'User:UserFeedback' %}">Add Feedback</a></li>
        </ul>
        {% endblock  %}
    </body>

</html>