{% extends 'User/Header.html' %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <form method="post">
        <div id="data">
            
                {% csrf_token %}
                
                    <h1 align="center">View Land Booking</h1>
                    <div id="tab">
                        
                    <table align="center" cellpadding="30" style="border-collapse: collapse;">
                        <tr>
                            {% for i in booked %}
                            <td>
                                <div style="text-align: center;border: 5px solid black; margin: 22px; padding: 20px;">
                                    <p><img src="{{i.manageland.Photo.url}}" alt="" height="100" width="100"></p>
                                    <br>
                                    <p> Rate :{{ i.manageland.Rate }}</p>
                                    <br>
                                    <p> District :{{ i.manageland.district }}</p>
                                    <br>
                                    <p> Pincode :{{ i.manageland.Pincode }}</p>
                                    <br>
                                    <p> Location :{{ i.manageland.Location }}</p>
                                    <br>
                                    <p> Booking_Date :{{ i.Booking_Date }}</p>
                                    <br>
                                    <p> Area :{{ i.manageland.Area }}</p>
                                    <br>
                                    <p>Advance :{% widthratio 10 100 i.manageland.Rate %}</p>
                                    <br>
                                    {% if i.b_status == 1 %}
                                    {% if i.p_status == 0 %}
                                    <p><a href="{% url 'User:payment' i.id  %}">Paynow</a></p>
                                    
                                    {% else %}
                                    <p>Completed</p>
                                    {% endif %}
                                    {% elif i.b_status == 0 %}
                                    <p>Not Accepted</p>
                                    {% endif %}
                                </div>
                            </td>
                            {% if forloop.counter|divisibleby:4 %}
                        </tr>
                        <tr>
                            {% endif %}


                            {% endfor %}
                        </tr>
                    </table>
                </div>


            </table>

    </form>
</body>
{% endblock  %}
</html>