{% extends 'Admin/Header.html' %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <h1 align="center">Complaint Type</h1>
        <table border="5" align="center" cellpadding="10">
            <tr>
                <td>Complainttype</td>
                <td><input type="text" name="txt_complainttype"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="btn_save" value="Save">
                        <input type="reset" name="btn_cancel" value="Cancel">
                    </td>
                </tr>
        </table>
        <table border="5" align="center" cellpadding="10">
            <br>
            <br>
            <br>
            <tr>
                {% for i in Comps  %}
            </tr>
            <tr>
                <th>{{i.Complaint_Type}}</th>
                <td><a href="{% url 'Admin:dltlandcomplaints' i.id %}">Delete</a></td>
                <td><a href="{% url 'Admin:updatecomplaints' i.id %}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
{% endblock  %}
</html>